<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <%- include('./navBar.ejs') %>
        <div>
            <form action="/orders/<%= locals.theId %>?_method=DELETE" method="POST">
                <h2>Are you sure you want to delete this order?</h2></br>
                    <label>Confirm the order number
                    <input type="text" id="<%= locals.theId %>" name="order" value="<%= locals.orderID %>">
                </label>
                
                <button>Delete</button>
            </form>
        </div>
    </body>
</html>