<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <%- include('./navBar.ejs') %>
        <div class="">
            <form action="/orders/<%= locals.theId %>?_method=PUT" method="POST">
                  <label>Order Date(yyyy/dd/mm)
                    <input type="text" name="dateOrdered" value="<%= locals.dateOrdered %>" required>
                  </label>
                  <label>Order Quantity:</br>
                    <input type="text" name="quantityOrdered" value="<%= locals.quantityOrdered %>" required>
                  </label>
                  <label>Staff ID
                    <input type="text" name="staffID" value="<%= locals.staffID %>" required>
                  </label>
                  <label>Item ID
                    <input type="text" name="itemID" value="<%= locals.itemID %>" required>
                  </label>
                </br>
                <button>PUT</button>
            </form>
        </div>
    </body>
</html>