<html lang="en">
  <%- include('./header.ejs') %>
  <body>
    <%- include('./navBar.ejs') %>
    <div>
      <form action="/staff" method="POST">
        <h2>Staff:</h2>
        <br />
        <% if (theStaff.length > 0) { %> <% theStaff.forEach(staff => { %>
        Staff: <%= staff.staffID%><br />
        Staff name: <%= staff.name %> <br />
        Address: <%= staff.streetAdd%>, <%= staff.city%>, <%= staff.prov%><br />
        Phone: <%= staff.phone%><br />
        Email: <%= staff.email%><br />

        <a
          href="/staff/<%=staff.staffID%>/edit?name=<%=staff.name%>&streetAdd=<%=staff.streetAdd%>&city=<%=staff.city%>&prov=<%=staff.prov%>&phone=<%=staff.phone%>&email=<%=staff.email%>"
          >edit</a
        >
        <a
          href="/staff/<%=staff.staffID%>/delete?name=<%=staff.name%>&streetAdd=<%=staff.streetAdd%>&city=<%=staff.city%>&prov=<%=staff.prov%>&phone=<%=staff.phone%>&email=<%=staff.email%>"
          >delete</a
        >
        <a
          href="/staff/<%=staff.staffID%>/replace?name=<%=staff.name%>&streetAdd=<%=staff.streetAdd%>&city=<%=staff.city%>&prov=<%=staff.prov%>&phone=<%=staff.phone%>&email=<%=staff.email%>"
          >replace</a
        ><br /><br />
        <% }) %> <% } %>
        <h2>Add Staff Member:</h2>
        <br />
        <label
          >Staff ID:
          <input
            type="text"
            id="staffID"
            name="staffID"
            value="<%= locals.staffID %>"
            required
          /> </label
        ><br />
        <label
          >Name:
          <input
            type="text"
            id="name"
            name="name"
            value="<%= locals.name %>"
            required
          /> </label
        ><br />
        <label
          >Street Address:
          <input
            type="text"
            id="streetAdd"
            name="streetAdd"
            value="<%= locals.streetAdd %>"
            required
          />
        </label>
        <br />
        <label
          >City:
          <input
            type="text"
            id="city"
            name="city"
            value="<%= locals.city %>"
            required
          />
        </label>
        <br />
        <label
          >Province:
          <input
            type="text"
            id="prov"
            name="prov"
            value="<%= locals.prov %>"
            required
          />
        </label>
        <br />
        <label
          >Phone:
          <input
            type="text"
            id="phone"
            name="phone"
            value="<%= locals.phone %>"
            required
          />
        </label>
        <br />
        <label
          >Email:
          <input
            type="text"
            id="email"
            name="email"
            value="<%= locals.email %>"
            required
          />
        </label>
        <br />
        <button>Add</button>
      </form>
    </div>
  </body>
</html>
