<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <%- include('./navBar.ejs') %>
        <div>
            <form action="/staff/<%= locals.theId %>?_method=DELETE" method="POST">
                <h2>Are you sure you want to delete this staff member?</h2>
                <label>Confirm staff ID
                    <input type="text" id="<%= locals.theId %>" name="staff" value="<%= locals.staffID %>"><br> <br>
                </label>
                <button>Delete</button>
            </form>
        </div>
    </body>
</html>