<html lang="en">
    <%- include('./header.ejs') %>
    <body>
        <%- include('./navBar.ejs') %>
        <div class="create content">
            <form action="/supplies/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Supplies:</br>
                    <input type="text" name="name" value="<%= locals.name %>" required>
                    <input type="text" name="quantity" value="<%= locals.quantity %>" required>
                    <input type="text" name="reorderPoint" value="<%= locals.reorderPoint %>" required>
                    <input type="text" name="department" value="<%= locals.Department %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
</html>