<html lang="en">
  <%- include('./header.ejs') %>
  <body>
    <%- include('./navBar.ejs') %>
    <div>
      <form action="/supplies/<%= locals.theId %>?_method=PATCH" method="POST">
        <h2>Edit Supplies:</h2>
        <label
          >Product Name:
          <input type="text" name="name" value="<%= locals.name %>" required />
        </label><br>
        <label
          >Quantity
          <input
            type="text"
            name="quantity"
            value="<%= locals.quantity %>"
            required
          />
        </label><br>
        <label
          >Reorder point
          <input
            type="text"
            name="reorderPoint"
            value="<%= locals.reorderPoint %>"
            required
          />
        </label><br>
        <label
          >Department
          <input
            type="text"
            name="department"
            value="<%= locals.department %>"
            required
          /> </label
        ><br />
        <button>Edit</button>
      </form>
    </div>
  </body>
</html>
